<!DOCTYPE html>
<html ng-app="search">

  <head>
    <meta charset="utf-8" />
    <title>Linux Search Builder</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.3/angular.js" data-semver="1.4.3"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl" class="container">
     <div class="row">
       <div>
      <div>
	  <h2>Welcome 2 Linux Search Builder ! <h2>
	  <h5 class = "tagLine">- Commands made easy<h5>
        <input type="text" ng-model="searchText"/>
      </div>
      <div>
        <a class="waves-effect waves-light btn subButton" ng-click="submit()">Submit</a>
      </div>
    </div>
    </div>
    <div class="row">
      <div ng-repeat="operation in configs.operations" class="col-md-2 col-sm-2">
         
          <input type="radio" ng-model="$parent.selectedOperation" name="nam"  ng-value="operation" />
            <label>
              {{operation.textContent}}
            </label>
      </div>
      </div>
      <div class="row">
        <div ng-repeat="option in selectedOperation.options" >
          <label><input type="checkbox" ng-model="option.checked"/>{{option.textContent}}</label>
        </div>
        <div ng-repeat="option in configs.common_operations.options">
          <label><input type="checkbox" ng-model="option.checked"/>{{option.textContent}}</label>
        </div>
      </div>
      <div class="row">
        <code class = "result">{{result}}</code>
      </div>
  </body>

</html>
